:root {
    --primaryColor: #3D7C98;
    --secondaryColor: #73B0CD;
    --tertiaryColor: #A8DFF1;
    --defaultColor: #F5F1EE; 

    --highlightColor: #F4B942;
    --errorColor: #EB5E55;
    
    --backgroundColor: #F5F1EE;
    --backgroundColorFlip: #3D7C98;

    --textColor: #32322C;
    --textColorFlip: #F5F1EE;
    
}